@import 'tailwindcss';
@import '@/styles/font.css';

* {
  font-family: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* 전체 스크롤바에 대한 스타일 */
/* ::-webkit-scrollbar {
  width: 6px;
  height: 587px;
} */
/* 호버 시 썸 스타일 */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9;
  border-radius: 12px;
} */

/* 갈색(1), 상아(2), 고동(3) 주황(4), 연회갈(5) */
/* @theme {
  --color-main-1: #815840;
  --color-main-2: #ffefbe;
  --color-main-3: #5e544e;
  --color-main-4: #ff613a;
  --color-main-5: #ebe4e0;

  --color-gray-1: #242628;
  --color-gray-2: #3d3f41;
  --color-gray-3: #56585a;
  --color-gray-4: #6f7173;
  --color-gray-5: #888a8c;
  --color-gray-6: #a1a3a5;
  --color-gray-7: #babcbe;
  --color-gray-8: #e4e4e4;
  --color-gray-9: #eceef0;
  --color-gray-10: #f6f8fa;
  --color-gray-11: #f9fafb;

  --color-white: #ffffff;
  --color-black: #0b0e0f;
}

@utility title2-sb {
  font-size: var(--text-title2-sb);
  line-height: var(--text-title2-sb);
  font-weight: var(--text-title2-sb);
  list-spacing: vr(--text-title2-sb);
  letter-spacing: vr(--text-title2-sb);
}

@utility title1-sb {
  font-size: var(--text-title1-sb);
  line-height: var(--text-title1-sb);
  font-weight: var(--text-title1-sb);
  list-spacing: vr(--text-title1-sb);
  letter-spacing: vr(--text-title1-sb);
}

@utility title-sb {
  font-size: var(--text-title-sb);
  line-height: var(--text-title-sb);
  font-weight: var(--text-title-sb);
  list-spacing: vr(--text-title-sb);
  letter-spacing: vr(--text-title-sb);
}

@utility body-med {
  font-size: var(--text-body-med);
  line-height: var(--text-body-med);
  font-weight: var(--text-body-med);
  list-spacing: vr(--text-body-med);
  letter-spacing: vr(--text-body-med);
}

@utility body-sb {
  font-size: var(--text-body-sb);
  line-height: var(-text-body-sb);
  font-weight: var(--text-body-sb);
  list-spacing: vr(--text-body-sb);
  letter-spacing: vr(--text-body-sb);
}

@utility body-reg {
  font-size: var(--text-body-reg);
  line-height: var(--text-body-reg);
  font-weight: var(--text-body-reg);
  list-spacing: vr(--text-body-reg);
  letter-spacing: vr(--text-body-reg);
}

@utility caption1-reg {
  font-size: var(--text-caption1-reg);
  line-height: var(--text-caption1-reg);
  font-weight: var(--text-caption1-reg);
  list-spacing: vr(--text-caption1-reg);
  letter-spacing: vr(--text-caption1-reg);
}

@utility caption2-reg {
  font-size: var(--text-caption2-reg);
  line-height: var(--text-caption2-reg);
  font-weight: var(--text-caption2-reg);
  list-spacing: vr(--text-caption2-reg);
  letter-spacing: vr(--text-caption2-reg);
} */
